* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  background: #530f80;
  background: linear-gradient(0deg, rgba(83, 15, 128, 1) 0%, rgba(16, 51, 99, 1) 100%);
  color: #000;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.list-group-item:hover {
  background-color: #ececec;
}